<!DOCTYPE html>
<html>
<head>        
	<title>Alumnae Directory</title>
</head>
<body>
	<h1>Alumnae Directory</h1>

	{% if alum %}
	<table>
		<tr> 
			<td>Last name</td>
			<td>First name</td>
			<td>Email address</td>
			<td>Current School</td>
			<td>Class year</td>
		</tr>    
		<tr> 
			<td>{{ alum.last_name }}</td>
			<td>{{ alum.first_name }}</td>
			<td>{{ alum.email }}</td>
			<td>{{ alum.school }}</td>
			<td>{{ alum.year }}</td>
		</tr>
	</table>

	{% else %}
	<p>Alum id is out of range.</p>
	{% endif %}
</body>
</html>
