<!DOCTYPE html>
<html>
<head>        
    <title>Alumnae Directory</title>    
    <style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
    th, td {
        padding: 5px;
    }
    #header {
        background-color:#CF4F1C;
        color:white;
        text-align:center;
        padding:5px;
    }
    #nav {
        line-height:30px;
        background-color:#F59A76;
        height:100px;
        width:180px;
        float:right;
        padding:10px;          
    }    
    </style>
</head>
<body>    
    <div id="header">
        <font face="Tahoma" size="10">Hanoi Amsterdam Alumnae Directory</font>
    </div>
    <br />            
    <img src="https://upload.wikimedia.org/wikipedia/commons/8/84/Hanoiamsterdam_logo.jpg" width="300" height="300" alt="school_logo" >
    <br />
    {% if user.is_authenticated %}
        <div id="nav">
            <a href="/alum_dir/profile/">View your profile</a><br/>
            <a href="/alum_dir/search/">Search by school</a><br/>
            <a href="/alum_dir/logout/">Logout</a>
        </div>
        <font face="verdana" color="#DC143C" size="5">Welcome to the directory, {{ user.username }}!</font>        
        {% if alum_list %}            
            <table border="1" style="width:70%">                                
                <tr> 
                    <br /><br />                    
                    <th>Last name</th>
                    <th>First name</th>
                    <th>Email address</th>
                    <th>Graduate year</th>
                    <th>Current School</th>        
                </tr>
                {% for alum in alum_list %}
                <tr> 
                    <td>{{ alum.last_name }}</td>
                    <td>{{ alum.first_name }}</td>
                    <td>{{ alum.email }}</td>
                    <td>{{ alum.year }}</td>
                    <td>{{ alum.school }}</td>                
                </tr>
                {% endfor %}
            </table>    
            <p></p>
        {% else %}
            <p>No alum is available.</p>
        {% endif %}
    {% else %}
        <strong>Please log in to view directory!</strong>
        <a href="/alum_dir/login/">Login</a><br /><br />
        <strong>Register if you don't have an account yet!</strong>
        <a href="/alum_dir/register/">Register</a><br />
    {% endif %}                    
</body>
</html>