<!-- 
 Source for 3 functions: register, user_login, and user_logout
 Title: User Authentication
 Url: http://www.tangowithdjango.com/book/chapters/login.html
-->

<!DOCTYPE html>
<html>
    <head>        
        <title>Alumnae Directory</title>
        <style>
        #header {
            background-color:#CF4F1C;
            color:white;
            text-align:center;
            padding:5px;
        }
        #nav {
            line-height:30px;
            background-color:#F59A76;
            height:80px;
            width:180px;
            float:right;
            padding:10px;          
        }   
        </style>         
    </head>

    <body>        
        <div id="header">
            <font face="Tahoma" size="10">Hanoi Amsterdam Alumnae Directory</font>
        </div>        
        <br />
        <img src="https://upload.wikimedia.org/wikipedia/commons/8/84/Hanoiamsterdam_logo.jpg" width="300" height="300" alt="school_logo" >
        <br />             
        <div id="nav">
            <a>Need an account?</a><br/>
            <a href="/alum_dir/register/">Register here!</a>           
        </div>
        <font face="verdana" color="#DC143C" size="5">Login to directory!</font>        
        <form id="login_form" method="post" action="/alum_dir/login/">
            {% csrf_token %}
            <br />
            Username: <input type="text" name="username" value="" size="50" />
            <br />
            Password: <input type="password" name="password" value="" size="50" />
            <br />
            <br />
            <input type="submit" value="Submit" />
        </form>

    </body>
</html>